<form [formGroup]="familyDetailsForm" (ngSubmit)="onSubmit()">
  <fieldset>
    <legend><b>Family Details</b></legend>

    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12">
        <div id="field3_1" class="form-group">
          <div class="form-group">
            <label for="father_given_name">Father's Given Name:</label>
            <input
              type="text"
              class="form-control"
              [formControl]="father_given_name"
              id="father_given_name"
              formControlName="father_given_name"
            />
            <em
              >[Given Name means First name followed by Middle name (If
              any)(Initials not allowed)]</em
            >
            <div class="invalid-feedback">
              Please enter your father's given name.
            </div>
            <p
              class="text-danger"
              [hidden]="father_given_name.valid || father_given_name.untouched"
            >
              Father's given name is required and should be 1-45 characters
              long.
            </p>
          </div>
          <div class="form-group">
            <label for="father_surname">Father's Surname:</label>
            <input
              type="text"
              class="form-control"
              [formControl]="father_surname"
              id="father_surname"
              formControlName="father_surname"
            />
            <div class="invalid-feedback">
              Please enter your father's surname.
            </div>
            <p
              class="text-danger"
              [hidden]="father_surname.valid || father_surname.untouched"
            >
              Father's surname is required and should be 1-45 characters long.
            </p>
          </div>
        </div>

        <div id="field3_2" class="form-group">
          <div class="form-group">
            <label for="mother_given_name">Mother's Given Name:</label>
            <input
              type="text"
              class="form-control"
              [formControl]="mother_given_name"
              id="mother_given_name"
              formControlName="mother_given_name"
            />
            <em
              >[Given Name means First name followed by Middle name (If
              any)(Initials not allowed)]</em
            >
            <div class="invalid-feedback">
              Please enter your mother's given name.
            </div>
            <p
              class="text-danger"
              [hidden]="mother_given_name.valid || mother_given_name.untouched"
            >
              Mother's given name is required and should be 1-45 characters
              long.
            </p>
          </div>

          <div class="form-group">
            <label for="mother_surname">Mother's Surname:</label>
            <input
              type="text"
              class="form-control"
              [formControl]="mother_surname"
              id="mother_surname"
              formControlName="mother_surname"
            />
            <div class="invalid-feedback">
              Please enter your mother's surname.
            </div>
            <p
              class="text-danger"
              [hidden]="mother_surname.valid || mother_surname.untouched"
            >
              Mother's surname is required and should be 1-45 characters long.
            </p>
          </div>
        </div>

        <div id="field3_3" class="form-group">
          <div class="form-group">
            <label for="legal_guardian_given_name"
              >Legal Guardian's Given Name:</label
            >
            <input
              type="text"
              class="form-control"
              [formControl]="legal_guardian_given_name"
              id="legal_guardian_given_name"
              formControlName="legal_guardian_given_name"
            />
            <em>(If applicable) (Initials not allowed)</em>
            <div class="invalid-feedback">
              Please enter your legal guardian's given name.
            </div>
            <p
              class="text-danger"
              [hidden]="
                legal_guardian_given_name.valid ||
                legal_guardian_given_name.untouched
              "
            >
              Legal guardian's given name should be 1-45 characters long.
            </p>
          </div>
          <div class="form-group">
            <label for="legal_guardian_surname"
              >Legal Guardian's Surname:</label
            >
            <input
              type="text"
              class="form-control"
              [formControl]="legal_guardian_surname"
              id="legal_guardian_surname"
              formControlName="legal_guardian_surname"
            />
            <div class="invalid-feedback">
              Please enter your legal guardian's surname.
            </div>
            <p
              class="text-danger"
              [hidden]="
                legal_guardian_surname.valid || legal_guardian_surname.untouched
              "
            >
              Legal guardian's surname should be 1-45 characters long.
            </p>
          </div>
        </div>
      </div>

      <div class="col-lg-6 col-md-6 col-sm-12">
        <div id="field3_4" class="form-group">
          <div class="form-group">
            <label for="spouse_given_name">Spouse's Given Name:</label>
            <input
              type="text"
              class="form-control"
              [formControl]="spouse_given_name"
              id="spouse_given_name"
              formControlName="spouse_given_name"
            />
            <em
              >(Given Name means First name followed by Middle name (If any))
              (Initials not allowed)</em
            >
            <div class="invalid-feedback">
              Please enter your spouse's given name.
            </div>
            <p
              class="text-danger"
              [hidden]="spouse_given_name.valid || spouse_given_name.untouched"
            >
              Spouse's given name should be 1-45 characters long.
            </p>
          </div>
          <div class="form-group">
            <label for="spouse_surname">Spouse's Surname:</label>
            <input
              type="text"
              class="form-control"
              [formControl]="spouse_surname"
              id="spouse_surname"
              formControlName="spouse_surname"
            />
            <div class="invalid-feedback">
              Please enter your spouse's surname.
            </div>
            <p
              class="text-danger"
              [hidden]="spouse_surname.valid || spouse_surname.untouched"
            >
              Spouse's surname should be 1-45 characters long.
            </p>
          </div>
        </div>

        <div id="field3_45" class="form-group">
          <div class="form-group">
            <label>Is the applicant a minor?</label><br />
            <div class="form-check form-check-inline">
              <input
                class="form-check-input"
                type="radio"
                formControlName="applicant_minor"
                value="yes"
                id="applicant_minor_yes"
              />
              <label class="form-check-label" for="applicant_minor_yes"
                >Yes</label
              >
            </div>
            <div class="form-check form-check-inline">
              <input
                class="form-check-input"
                type="radio"
                formControlName="applicant_minor"
                value="no"
                id="applicant_minor_no"
              />
              <label class="form-check-label" for="applicant_minor_no"
                >No</label
              >
            </div>
            <div class="invalid-feedback">
              Please select if your parent or spouse is a government servant.
            </div>
            <p
              class="text-danger"
              [hidden]="applicant_minor.valid || applicant_minor.untouched"
            >
              This selection is required.
            </p>
          </div>
        </div>

        @if(applicant_minor.value==="yes"){
        <div id="field3_5" class="form-group">
          <h4>If applicant is minor, provide the following details:</h4>
          <h5>
            Parent's Passport Details (If applied for but not received, give
            File Number)
          </h5>

          <div id="field3_5" class="fprm-group">
            <div class="form-group">
              <label for="father_passport_number"
                >Father's/Legal Guardian's File/Passport Number:</label
              >
              <input
                type="text"
                class="form-control"
                [formControl]="father_passport_number"
                id="father_passport_number"
                formControlName="father_passport_number"
              />
              <div class="invalid-feedback">
                Please enter your father's passport number.
              </div>
              <p
                class="text-danger"
                [hidden]="
                  father_passport_number.valid ||
                  father_passport_number.untouched
                "
              >
                Father's passport number should be up to 15 characters long.
              </p>
            </div>
          </div>

          <div class="form-group">
            <label for="father_nationality"
              >Father's/Legal Guardian's Nationality, if not Indian:</label
            >
            <input
              type="text"
              class="form-control"
              [formControl]="father_nationality"
              id="father_nationality"
              formControlName="father_nationality"
            />
            <div class="invalid-feedback">
              Please enter your father's nationality.
            </div>
            <p
              class="text-danger"
              [hidden]="
                father_nationality.valid || father_nationality.untouched
              "
            >
              Father's nationality should be up to 15 characters long.
            </p>
          </div>
          <div class="form-group">
            <label for="mother_passport_number"
              >Mother's/Legal Guardian's File/Passport Number:</label
            >
            <input
              type="text"
              class="form-control"
              [formControl]="mother_passport_number"
              id="mother_passport_number"
              formControlName="mother_passport_number"
            />
            <div class="invalid-feedback">
              Please enter your mother's passport number.
            </div>
            <p
              class="text-danger"
              [hidden]="
                mother_passport_number.valid || mother_passport_number.untouched
              "
            >
              Mother's passport number should be up to 15 characters long.
            </p>
          </div>
          <div class="form-group">
            <label for="mother_nationality"
              >Mother's/Legal Guardian's Nationality, if not Indian:</label
            >
            <input
              type="text"
              class="form-control"
              [formControl]="mother_nationality"
              id="mother_nationality"
              formControlName="mother_nationality"
            />
            <div class="invalid-feedback">
              Please enter your mother's nationality.
            </div>
            <p
              class="text-danger"
              [hidden]="
                mother_nationality.valid || mother_nationality.untouched
              "
            >
              Mother's nationality should be up to 15 characters long.
            </p>
          </div>
        </div>

        }
      </div>
    </div>
  </fieldset>

  <div class="d-flex justify-content-end">
    <button class="btn btn-primary nextButton btn-custom" type="submit">
      Save & Next
    </button>
  </div>
</form>
