<section id="hero" class="hero section">
    <div class="container-fluid">
        <div class="welcomeText mb-4">
            <h4>Welcome {{loggedInUserName}} !</h4>
        </div>
      <div class="row gy-5 mt-lg-2 justify-content-center">

        <div class="col-sm-12 col-md-6 col-lg-3 mx-2" data-aos="zoom-out"
          data-aos-delay="100">
          <div class="icon-box">
            <div class="icon"><i class="bi bi-file-earmark-plus"></i></div>
            <h4 class="title"><a id="freshpass" routerLink = "/applynewpassword">Apply for Fresh Passport</a></h4>
            <p class="description">Streamline your travel experience with this convenient, wallet-sized ID. </p>
          </div>
        </div>

        <div class=" col-sm-12 col-md-6 col-lg-3 mx-2" data-aos="zoom-out" data-aos-delay="200">
          <div class="icon-box">
            <div class="icon"><i class="bi bi-file-earmark-arrow-up"></i></div>
            
            <h4 class="title"> 
                Apply for re-issue passport
              </h4>
            <p class="description"> Follow our simple steps to renew your passport card and stay prepared for all
              your upcoming journeyse</p>
          </div>
        </div>

        <div class=" col-sm-12 col-md-6 col-lg-3 mx-2" data-aos="zoom-out" data-aos-delay="300">
          <div class="icon-box">
            <div class="icon"><i class="bi bi-geo-alt"></i></div>
            <h4 class="title"><a href="Track_application.html">Track Your Application</a></h4>
            <p class="description">Track the status of your passport card application effortlessly.</p>
          </div>
        </div>

        <div class="col-md-6 col-lg-3 mx-2" data-aos="zoom-out" data-aos-delay="400">
          <div class="icon-box">
            <div class="icon"><i class="bi bi-calculator"></i></div>
            <h4 class="title"><a href="">Make Payment</a></h4>
            <p class="description">Understand costs involved, including application, processing, and renewal
              fees.</p>
          </div>
        </div>
        <div class="col-md-6 col-lg-3 mx-2" data-aos="zoom-out" data-aos-delay="400">
          <div class="icon-box">
            <div class="icon"><i class="bi bi-book"></i></div>
            <h4 class="title"><a href="">Virtual Passport</a></h4>
            <p class="description">Get Your Passport Card Quickly: A step-by-step guide to applying for your
              passport card</p>
          </div>
        </div>

      </div>
    </div>

  </section>
