<!-- Header Section -->
<div class="container-fluid">
  <div class="d-flex align-items-start">
    <img src="assets/images/passportlogo.jpeg" alt="Logo" class="logo mr-3" />
    <div class="header-message">
      Passport Seva<br />
      PSP Division<br />
      Ministry of External Affairs, Government of India
    </div>
  </div>
</div>

<!-- Navigation Bar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary mt-3 pl-5 pr-5">
  <a class="navbar-brand" routerLink="/">Passport Seva</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNav"
    aria-controls="navbarNav"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a
          class="nav-link active"
          routerLink="/"
          routerLinkActive="active"
          appWhiteEl
          >Home</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          routerLink="/feedback_page"
          routerLinkActive="active"
          >Feedback</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/about_us" routerLinkActive="active"
          >About Us</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/whats_new" routerLinkActive="active"
          >What's New</a
        >
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input
        class="form-control mr-sm-2"
        type="search"
        placeholder="Search"
        aria-label="Search"
      />
      <button class="btn btn-outline-light my-2 my-sm-0" type="submit">
        <i class="fa fa-search"></i>
      </button>
    </form>
  </div>
</nav>
