<app-header></app-header>
<body class="d-flex flex-column min-vh-100 bg-light">
  <!-- Ticker -->
  <div class="bg-light py-2">
    <div class="container d-flex align-items-center">
      <marquee class="ticker flex-grow-1"
        ><span
          >Important Notice: New Guidelines for Passport Application. Check in
          What's New page</span
        ></marquee
      >
    </div>
  </div>

  <!-- Main Content Area -->
  <div class="container mt-5 flex-grow-1 mb-5">
    <div class="row">
      <!-- Left Section -->
      <div class="col-md-3 left-section">
        <a class="btn btn-primary btn-lg" [routerLink]="['/auth/sign_up']">
          <i class="fas fa-user-plus"></i> New User Registration
        </a>
        <a class="btn btn-secondary btn-lg" [routerLink]="['/login']">
          <i class="fas fa-sign-in-alt"></i> Existing User Login
        </a>

        <div class="mt-3">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">National Call Center</h5>
              <p class="card-text">Customer Care Helpline: 1800-123-456</p>
            </div>
          </div>
        </div>
      </div>

      <!-- Right Section -->
      <div class="col-md-9 right-section">
        <div
          id="carouselExampleIndicators"
          class="carousel slide"
          data-ride="carousel"
        >
          <ol class="carousel-indicators">
            <li
              data-target="#carouselExampleIndicators"
              data-slide-to="0"
              class="active"
            ></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
          </ol>
          <div class="carousel-inner slide-container">
            <div class="carousel-item active">
              <a routerLink="/about_us"
                ><img
                  class="d-block w-100"
                  src="assets/images/slide1.jpeg"
                  alt="First slide"
              /></a>
            </div>
            <div class="carousel-item">
              <img
                class="d-block w-100"
                src="assets/images/slide2.jpeg"
                alt="Second slide"
              />
            </div>
            <div class="carousel-item">
              <img
                class="d-block w-100"
                src="assets/images/slide3.jpeg"
                alt="Third slide"
              />
            </div>
            <div class="carousel-item">
              <img
                class="d-block w-100"
                src="assets/images/slide4.jpeg"
                alt="Fourth slide"
              />
            </div>
            <div class="carousel-item">
              <img
                class="d-block w-100"
                src="assets/images/slide5.jpeg"
                alt="Fifth slide"
              />
            </div>
          </div>
          <a
            class="carousel-control-prev"
            href="#carouselExampleIndicators"
            role="button"
            data-slide="prev"
          >
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a
            class="carousel-control-next"
            href="#carouselExampleIndicators"
            role="button"
            data-slide="next"
          >
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>

        <div class="mt-3">
          <div class="card notice">
            <div class="card-body">
              <h5 class="card-title">Notices and Updates</h5>
              <div class="notice-item">
                <a href="#"
                  >System Maintenance on 25th July<span class="badge badge-new"
                    >New</span
                  ></a
                >
                <p class="small text-muted">
                  Please note that the passport application system will be
                  undergoing maintenance from 12:00 AM to 6:00 AM on 25th June.
                  During this time, the services will be unavailable.
                </p>
              </div>
              <div class="notice-item">
                <a href="#"
                  >New Document Requirements<span class="badge badge-new"
                    >New</span
                  ></a
                >
                <p class="small text-muted">
                  Starting from 1st July, new document requirements will be in
                  effect. Please visit our website for more details on the
                  updated requirements.
                </p>
              </div>
              <div class="notice-item">
                <a href="#"
                  >Extended Office Hours<span class="badge badge-new"
                    >New</span
                  ></a
                >
                <p class="small text-muted">
                  To better serve you, we have extended our office hours. Our
                  offices will now be open from 8:00 AM to 8:00 PM on weekdays.
                </p>
              </div>
              <div class="notice-item">
                <a href="#">COVID-19 Safety Measures</a>
                <p class="small text-muted">
                  We are committed to your safety. Please adhere to the COVID-19
                  safety measures when visiting our offices. Masks are
                  mandatory.
                </p>
              </div>
              <!-- <div class="notice-item">
                <a href="#">Online Appointment Booking</a>
                <p class="small text-muted">
                  Book your appointment online to avoid long wait times. Visit
                  our online appointment booking system to schedule your visit.
                </p>
              </div> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div><app-footer></app-footer></div>
</body>
