<app-admin-header></app-admin-header>
<div class="container-fluid mt-3">
  <div class="row align-items-center mb-2">
    <!-- Table -->
    <div class="row">
      <div class="col-lg-12">
        <div class="table-container table-responsive border mb-3">
          <table class="table table-bordered table-striped">
            <caption class="table-caption">
              List of applications
            </caption>
            <thead>
              <tr>
                <th>Application Number</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>DOB</th>
                <th>District</th>
                <th>Country</th>
                <th>Aadhar Number</th>
                <th>Rejected Message</th>
                <th>Status</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let application of allNewApplications">
                <td>{{ application.applicationNumber }}</td>
                <td>{{ application.givenName }}</td>
                <td>{{ application.surname }}</td>
                <td>{{ application.dob }}</td>
                <td>{{ application.district }}</td>
                <td>{{ application.regionCountry }}</td>
                <td>{{ application.aadhar }}</td>
                <td>
                  <input
                    [disabled]="!application.isEditing"
                    [(ngModel)]="application.rejectedMessage"
                  />
                </td>

                <td>
                  <select
                    [disabled]="!application.isEditing"
                    [(ngModel)]="application.applicationStatus"
                  >
                    <option
                      *ngFor="let status of applicationStatuses"
                      [value]="status"
                    >
                      {{ status }}
                    </option>
                  </select>
                </td>
                <td>
                  <div class="btn-group" role="group">
                    <span class="icon-edit" (click)="toggleEdit(application)">
                      <i
                        *ngIf="application.isEditing; else editIcon"
                        class="bi bi-save"
                      ></i>
                      <ng-template #editIcon>
                        <i class="bi bi-pencil"></i>
                      </ng-template>
                    </span>
                    <span
                      class="icon-delete"
                      (click)="
                        deleteNewApplication(application.applicationNumber)
                      "
                    >
                      <i class="bi bi-trash"></i>
                    </span>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
