<body class="d-flex flex-column min-vh-100">
  <app-header></app-header>
  <!-- Welcome Message -->
  <div class="container">
    <div class="welcome-message" id="welcomeMessage">
      Welcome {{ username }}
    </div>

    <!--  user logout -->
    <div class="container mt-4">
      <div class="row">
        <div class="col-md-10"></div>
        <div class="col-md-2">
          <a [routerLink]="'login'" class="btn btn-danger">Logout</a>
        </div>
      </div>
    </div>

    <!-- Main Content Area -->
    <div class="container mt-5">
      <div class="row">
        <div class="col-md-6">
          <div class="card text-center shadow-sm">
            <div class="card-body">
              <h5 class="card-title">
                <i class="fas fa-passport"></i> Apply for New Passport
              </h5>
              <p class="card-text">
                Start your application for a new passport here.
              </p>
              <a
                id="applyNewPassportLink"
                [routerLink]="'apply_for_new_passport'"
                class="btn btn-primary"
                >Apply Now</a
              >
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card text-center shadow-sm">
            <div class="card-body">
              <h5 class="card-title">
                <i class="fas fa-sync-alt"></i> Renew Passport
              </h5>
              <p class="card-text">
                Renew your existing passport quickly and easily.
              </p>
              <a
                id="renewPassportLink"
                [routerLink]="'renew_passport'"
                class="btn btn-primary"
                >Renew Now</a
              >
            </div>
          </div>
        </div>
      </div>

      <div class="row mt-4">
        <div class="col-md-6">
          <div class="card text-center shadow-sm">
            <div class="card-body">
              <h5 class="card-title">
                <i class="fas fa-tasks"></i> Application Status
              </h5>
              <p class="card-text">
                Check the status of your passport application here.
              </p>
              <a
                id="applicationStatusLink"
                [routerLink]="'application_status'"
                class="btn btn-primary"
                >Check Status</a
              >
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card text-center shadow-sm">
            <div class="card-body">
              <h5 class="card-title">
                <i class="fas fa-credit-card"></i> Payment
              </h5>
              <p class="card-text">
                Complete your passport application payment here.
              </p>
              <a
                id="paymentLink"
                [routerLink]="'payment'"
                class="btn btn-primary"
                >Make Payment</a
              >
            </div>
          </div>
        </div>
      </div>
      <section *ngIf="checkCorrectionForm()">
        <div class="row mt-4">
          <div class="col-md-6">
            <div class="card text-center shadow-sm">
              <div class="card-body">
                <h5 class="card-title">
                  <i class="fas fa-address-card"></i> Correction Forms
                </h5>
                <p class="card-text">
                  Review and re-apply your passport application based on admin
                  feedback.
                </p>
                <a
                  id="correctionform"
                  [routerLink]="'correctionform'"
                  class="btn btn-primary"
                  >Check Status</a
                >
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
  <div class="fixed-bottom mt-5"><app-footer></app-footer></div>
</body>
