<body class="d-flex flex-column min-vh-100">
  <app-header></app-header>
  <!-- Hero Section -->
  <div class="hero">
    <div class="container">
      <h1>What's New</h1>
      <p>
        Stay updated with the latest news and updates from the Passport Seva
        Project
      </p>
    </div>
  </div>

  <!-- Content Section -->
  <div class="container content-section">
    <div class="row">
      <div class="col-md-12">
        <h2>Latest Updates</h2>
        <div class="list-group">
          <a href="update1.html" class="list-group-item list-group-item-action">
            <h5 class="mb-1">
              Update 1 <span class="badge badge-new">New</span>
            </h5>
            <p class="mb-1">
              We have introduced new guidelines for passport application.
            </p>
            <small>Posted on: June 17, 2024</small>
          </a>
          <a href="update2.html" class="list-group-item list-group-item-action">
            <h5 class="mb-1">
              Update 2 <span class="badge badge-new">New</span>
            </h5>
            <p class="mb-1">
              Our online portal has been upgraded to improve user experience.
            </p>
            <small>Posted on: June 10, 2024</small>
          </a>
          <a href="update3.html" class="list-group-item list-group-item-action">
            <h5 class="mb-1">
              Update 3 <span class="badge badge-new">New</span>
            </h5>
            <p class="mb-1">
              We have launched a new mobile app for passport services.
            </p>
            <small>Posted on: June 3, 2024</small>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div><app-footer></app-footer></div>
</body>
