
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-2">
          <aside id="sidebar" class="sidebar">
            <ul class="sidebar-nav" id="sidebar-nav">
              <li class="nav-item">
                <a class="nav-link collapsed" routerLink="/admindashboard/dashboard" routerLinkActive="active">
                  <i class="bi bi-grid"></i>
                  <span>Dashboard</span>
                </a>
              </li><!-- End Dashboard Nav -->
              <li class="nav-item">
                <a class="nav-link collapsed" routerLink="/admindashboard/users" routerLinkActive="active">
                  <i class="bi bi-person"></i>
                  <span>Users</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link collapsed" routerLink="/admindashboard/newapplications">
                  <i class="bi bi-ui-checks"></i>
                  <span>New Applications</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link collapsed" routerLink="/admindashboard/renewapplications">
                  <i class="bi bi-calculator"></i>
                  <span>Renew Applications</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link collapsed" routerLink="/admindashboard/complaints">
                  <i class="bi bi-file-text"></i>
                  <span>Complaints</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link collapsed" routerLink="/admindashboard/paymenthistory">
                  <i class="bi bi-info-square"></i>
                  <span>Payment History</span>
                </a>
  
              </li>
              <li class="nav-item">
                  <a class="nav-link collapsed" routerLink="/admindashboard/feedbacks">
                    <i class="bi bi-info-square"></i>
                    <span>Feedbacks</span>
                  </a>
                </li>
            </ul>
        
          </aside>
        </div>
        <div class="col-10">
          <div class="container-fluid">
              <router-outlet></router-outlet>
            </div>
        </div>
      </div>
</div>
    
    </body>