<app-header></app-header>
<section class="h-100 bg-light">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col">
        <div class="card card-login my-4">
          <div class="row g-0">
            <div class="col-xl-6 d-none d-xl-block">
              <img
                src="assets/images/Indian_passport_photo_login.jpg"
                alt="Sample photo"
                class="img-fluid"
                style="
                  border-top-left-radius: 0.25rem;
                  border-bottom-left-radius: 0.25rem;
                "
              />
            </div>
            <div class="col-xl-6">
              <div class="card-body p-md-5 text-black">
                <h3 class="mb-5 text-uppercase">Login to Your Account</h3>
                <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                  <div class="form-group">
                    <label for="username">Username</label>
                    <input
                      type="text"
                      class="form-control form-control-lg"
                      id="username"
                      formControlName="username"
                      placeholder="Enter your Username"
                      required
                    />
                    <div
                      *ngIf="
                        loginForm.get('username')!.invalid &&
                        loginForm.get('username')!.touched
                      "
                      class="alert alert-danger mt-2"
                    >
                      Username is required.
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="password">Password</label>
                    <input
                      type="password"
                      class="form-control form-control-lg"
                      id="password"
                      formControlName="password"
                      placeholder="Enter your password"
                      required
                    />
                    <div
                      *ngIf="
                        loginForm.get('password')!.invalid &&
                        loginForm.get('password')!.touched
                      "
                      class="alert alert-danger mt-2"
                    >
                      Password is required.
                    </div>
                  </div>
                  <div class="form-check">
                    <input
                      class="form-check-input"
                      type="checkbox"
                      id="rememberMe"
                    />
                    <!-- after implementing copy it in rememberMe input box formControlName="rememberMe" -->
                    <label class="form-check-label" for="rememberMe">
                      Remember Me
                    </label>
                  </div>
                  <button
                    type="submit"
                    class="btn btn-primary btn-block btn-lg mt-4"
                    [disabled]="loginForm.invalid"
                  >
                    Login
                  </button>
                  <div class="text-center mt-3">
                    <a
                      [routerLink]="['/auth/sign_up']"
                      class="btn btn-link text-decoration-none fw-bold text-primary"
                    >
                      Don't have an account? Sign up
                    </a>
                    <br />
                    <a
                      [routerLink]="['/auth/forgot_password']"
                      class="btn btn-link text-decoration-none fw-bold text-primary"
                    >
                      Forgot Password?
                    </a>
                    <br />
                    <a
                      [routerLink]="['/auth/forgot_username']"
                      class="btn btn-link text-decoration-none fw-bold text-primary"
                    >
                      Forgot Username?
                    </a>
                  </div>
                  <div
                    id="error-message"
                    class="text-danger mt-3 text-center"
                  ></div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>
