<body class="index-page">
    <div class="row">
      <div class="col-3">
        <aside id="sidebar" class="sidebar">
          <ul class="sidebar-nav" id="sidebar-nav">
            <li class="nav-item">
              <a class="nav-link collapsed" routerLink="/userdashboard/dashboard">
                <i class="bi bi-grid"></i>
                <span>Dashboard</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link collapsed" routerLink="/userdashboard/profile">
                <i class="bi bi-person"></i>
                <span>Profile</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link collapsed" routerLink="/userdashboard/applicationstatus">
                <i class="bi bi-ui-checks"></i>
                <span>Track Application</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link collapsed" href="#">
                <i class="bi bi-calculator"></i>
                <span>Payment History</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link collapsed" routerLink="/complaint">
                <i class="bi bi-file-text"></i>
                <span>Raise Complaint</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link collapsed" href="#">
                <i class="bi bi-info-square"></i>
                <span>Quick Guide</span>
              </a>
            </li>
          </ul>
      
        </aside>
      </div>
      <div class="col-9">
        <div class="container-fluid">
            <router-outlet></router-outlet>
          </div>
      </div>
    </div>
    </body>