.form-control:focus {
  box-shadow: none;
  border-color: #0056b3;
}
.signup-container {
  margin-top: 50px;
}
.signup-heading {
  font-size: 1.5rem;
  color: #0056b3;
  text-align: center;
  margin-bottom: 20px;
}

.footer-section a {
  color: white;
}
.error-message {
  color: red;
  font-size: 0.9rem;
  display: none;
}
