<footer  id="footer" class="footer light-background">
    <div class="container-fluid footer-top"  *ngIf ="router.url === '/home'">
      <div class="row gy-1 justify-content-sm-center">
        <div class="col-lg-4 col-md-4 col-sm-12 mb-5 footer-about text-center text-sm-center">
          <h2 class="logo d-flex align-items-center justify-content-center">
            <span class="sitename">Passport Seva</span>
          </h2>
          <div class="social-links d-flex mt-4 justify-content-center">
            <a href=""><i class="bi bi-twitter-x"></i></a>
            <a href=""><i class="bi bi-facebook"></i></a>
            <a href=""><i class="bi bi-instagram"></i></a>
            <a href=""><i class="bi bi-linkedin"></i></a>
          </div>
        </div>
  
        <div class="col-lg-2 col-6 footer-links text-start">
          <h4>Useful Links</h4>
          <ul class="list-unstyled">
            <li><a href="#">Home</a></li>
            <li><a href="#">About us</a></li>
            <li><a href="#">Terms of service</a></li>
            <li><a href="#">Privacy policy</a></li>
          </ul>
        </div>
  
        <div class="col-lg-3 col-6 footer-contact text-center text-sm-center">
          <h4>Contact Us</h4>
          <p>Baner, Pune</p>
          <p>Maharashtra, MH 411057</p>
          <p>India</p>
          <p class="mt-4"><strong>Phone:</strong> <span>+91 9309 566 433</span></p>
          <p><strong>Email:</strong> <span>Passportseva.com</span></p>
        </div>
      </div>
    </div>
  
    <div class="container-fluid copyright text-center mt-4">
      <p>© <span>Copyright</span> <strong class="px-1 sitename">Passport Seva</strong> <span>All Rights Reserved</span></p>
      <div class="credits">
        Designed by <a href="#">prashant kotalwar</a>
      </div>
    </div>
  </footer>