<header id="header" class="header d-flex align-items-center fixed-top">
    <div class="container-fluid container-xl position-relative me-5">
      <a href="index.html" class="logo d-flex align-items-center ms-auto me-auto">

        <img src="assets/Passport_Flat_Icon_Vector.svg" alt="logo">
        <h1 class="sitename">PassportSeva</h1>
      </a>
    </div>
    <div class="container-fluid container-xl position-relative d-flex align-items-center">
      <nav id="navmenu" class="navmenu">
        <ul>
          <li><a routerLink = "/" class="active">Home<br></a></li>
          <li><a >About</a></li>
          <li><a routerLink="/feedback">feedback</a></li>
          <li><a routerLink="/complaint">Raise a Complaint</a></li>

          <nav class="search-bar navbar navbar-light">
            <div class="container-fluid">
              <form class="d-flex">
                <input class=" input-search form-control" type="search"
                  placeholder="Search for the nearest Passport Office" aria-label="Search">
                <button class=" search-btn btn btn-outline-primary" type="submit">Search</button>
              </form>
            </div>
          </nav>
        </ul>
        <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
      </nav>
    </div>
    <div class="container-fluid container-xl position-relative d-flex justify-content-end"> 
      <button *ngIf = '!isloggedIn()' class="btn-getstarted" (click)="OpenLogin()">Login</button>
      <button *ngIf = '!isloggedIn()' class="btn-getstarted" (click)="OpenSignup()">Signup</button>
      <button *ngIf = 'isloggedIn()' class="btn-getstarted" (click)="logout()">Logout</button>
    </div>
  </header>
