.btn-primary {
  background-color: #0056b3;
  border-color: #0056b3;
  color: #ffffff;
}
.btn-primary:hover {
  background-color: #ffffff;
  color: #0056b3;
  border-color: #0056b3;
}

.social-icons {
  margin: 20px 10px;
}
.footer {
  padding: 40px;
  text-align: center;
}
.logo {
  width: 100px;
  height: 100px;
}
.header-message {
  font-size: 1.2rem;
  font-weight: bold;
  color: #0056b3;
}
