<!-- Footer Section -->
<footer
  class="bg-primary text-white text-center mt-auto"
  style="background-color: #0056b3"
>
  <div class="container py-4">
    <p class="mb-1">
      Connect with us on:
      <a href="https://www.facebook.com" class="text-white mx-2">
        <i class="bi bi-facebook"></i> Facebook
      </a>
      |
      <a href="https://www.twitter.com" class="text-white mx-2">
        <i class="bi bi-twitter"></i> Twitter
      </a>
      |
      <a href="https://www.instagram.com" class="text-white mx-2">
        <i class="bi bi-instagram"></i> Instagram
      </a>
    </p>
    <p class="mb-1">
      Contact Us: <a [routerLink]="'/contact'" class="text-white">Contact Us</a>
    </p>
    <p class="mb-0">Customer Care Helpline: 1800-123-456</p>
  </div>
</footer>
