.action-btn-edit{
    color: #ffffff;
    background: #f0ad4e;
    font-size: 15px;
    padding: 8px 20px;
    margin: 0 0 0 10px;
    border-radius: 15px;
    transition: 0.3s;
    text-decoration: none;
    outline: none;
    border: none; 
}

.action-btn-delete{
    color: #ffffff;
    background: #ce4d24;;
    font-size: 15px;
    padding: 8px 20px;
    margin: 0 0 0 10px;
    border-radius: 15px;
    transition: 0.3s;
    text-decoration: none;
    outline: none;
    border: none;
    
}

.action-btn-view{
    color: #ffffff;
    background: #2487ce;
    font-size: 15px;
    padding: 8px 20px;
    margin: 0 0 0 10px;
    border-radius: 15px;
    transition: 0.3s;
    text-decoration: none;
    outline: none;
    border: none;
    
}

.table-caption {
    color: #ffffff;
    background-color: #2487ce;
    caption-side: top;
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    
  }
  .table-container {
    
    margin-right: 50px;
    margin-left: 50px;
    border-radius: 15px;
  }

  input, select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
    font-size: 18px;
  }
 
  .action-btn-edit:hover, .action-btn-delete:hover, .action-btn-view:hover {
    opacity: 0.8;
  }

  a{
    text-decoration: none;
  }

  th{
    font-size: 18px;
  }
  tr{
    font-size: 16px;
  }

  .search-box{
    margin-left: 50px;
    margin-bottom: 20px;
  }

  .sort-dropdown{
    margin-right: 50px;
    margin-bottom: 20px;
  }

  .icon-view {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    color: #2487ce;
    font-size: 1.2rem; 
    border: none;
    background: none;
    margin-left: 15px;
  }
  
  .icon-view:hover {
    color: darkblue;
  }

  .icon-delete {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    color: #ce4d24;
    font-size: 1.2rem; 
    border: none;
    background: none;
  }
  
  .icon-view:hover {
    color: darkblue;
  }

  .icon-edit {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    color: #f0ad4e;
    font-size: 1.2rem; 
    border: none;
    background: none;
    margin-right: 15px;
  }
  
  .icon-view:hover {
    color: darkblue;
  }
  

  

