<body class="d-flex flex-column min-vh-100">
  <app-admin-header></app-admin-header>
  <br />
  <h2 class="welcome-message text-center">Welcome, {{ username }}!</h2>

  <!-- Admin Options -->
  <div class="container admin-container">
    <div class="admin-options">
      <a
        [routerLink]="['new-passport-applications-for-admin']"
        class="btn btn-primary"
      >
        <i class="fas fa-passport"></i> New Passport Applications
      </a>
      <a
        [routerLink]="['renew-passport-application-for-admin']"
        class="btn btn-primary"
      >
        <i class="fas fa-redo"></i> Renew Passport Applications
      </a>
      <a [routerLink]="['feedbacks-list-for-admin']" class="btn btn-primary">
        <i class="fas fa-comments"></i> Feedback
      </a>
      <a [routerLink]="['complaints-list-for-admin']" class="btn btn-primary">
        <i class="fas fa-exclamation-triangle"></i> Complaints
      </a>
      <a [routerLink]="['users-component']" class="btn btn-primary">
        <i class="fas fa-exclamation-triangle"></i> User Management
      </a>
    </div>
  </div>
  <div class="fixed-bottom"><app-footer></app-footer></div>
</body>
