<div class="mb-4">
  <app-header></app-header>
</div>
<div class="container form-body">
  <ul class="nav nav-tabs nav-fill" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <button
        class="nav-link active"
        id="applicant-details-tab"
        data-bs-toggle="tab"
        data-bs-target="#applicant-details-tab-pane"
        type="button"
        role="tab"
        aria-controls="applicant-details-tab-pane"
        aria-selected="false"
      >
        Application Details
      </button>
    </li>
    <li class="nav-item" role="presentation">
      <button
        class="nav-link"
        id="family-details-tab"
        data-bs-toggle="tab"
        data-bs-target="#family-details-tab-pane"
        type="button"
        role="tab"
        aria-controls="family-details-tab-pane"
        aria-selected="false"
      >
        Family Details
      </button>
    </li>
    <li class="nav-item" role="presentation">
      <button
        class="nav-link"
        id="address-details-tab"
        data-bs-toggle="tab"
        data-bs-target="#address-details-tab-pane"
        type="button"
        role="tab"
        aria-controls="address-details-tab-pane"
        aria-selected="false"
      >
        Address Details
      </button>
    </li>

    <li class="nav-item" role="presentation">
      <button
        class="nav-link"
        id="emergency-tab"
        data-bs-toggle="tab"
        data-bs-target="#emergency-tab-pane"
        type="button"
        role="tab"
        aria-controls="emergency-tab-pane"
        aria-selected="false"
      >
        Emergency Contact Details
      </button>
    </li>

    <li class="nav-item" role="presentation">
      <button
        class="nav-link"
        id="previous-application-tab"
        data-bs-toggle="tab"
        data-bs-target="#previous-application-tab-pane"
        type="button"
        role="tab"
        aria-controls="previous-application-tab-pane"
        aria-selected="false"
      >
        Previous Application
      </button>
    </li>

    <li class="nav-item" role="presentation">
      <button
        class="nav-link"
        id="other-details-tab"
        data-bs-toggle="tab"
        data-bs-target="#other-details-tab-pane"
        type="button"
        role="tab"
        aria-controls="other-details-tab-pane"
        aria-selected="false"
      >
        Other Details
      </button>
    </li>

    <li class="nav-item" role="presentation">
      <button
        class="nav-link"
        id="upload-documents-tab"
        data-bs-toggle="tab"
        data-bs-target="#upload-documents-tab-pane"
        type="button"
        role="tab"
        aria-controls="upload-documents-tab-pane"
        aria-selected="false"
      >
        Upload Documents
      </button>
    </li>
  </ul>

  <div class="tab-content w-100 p-5 mb-2" id="myTabContent">
    <div
      class="tab-pane fade show active"
      id="applicant-details-tab-pane"
      role="tabpanel"
      aria-labelledby="applicant-details-tab"
      tabindex="0"
    >
      <app-applicant-details
        (nextTabEvent)="onNextTab()"
      ></app-applicant-details>
    </div>

    <div
      class="tab-pane fade"
      id="family-details-tab-pane"
      role="tabpanel"
      aria-labelledby="family-details-tab"
      tabindex="0"
    >
      <app-family-details (nextTabEvent)="onNextTab()"></app-family-details>
    </div>
    <div
      class="tab-pane fade"
      id="address-details-tab-pane"
      role="tabpanel"
      aria-labelledby="address-details-tab"
      tabindex="0"
    >
      <app-address-details (nextTabEvent)="onNextTab()"></app-address-details>
    </div>

    <div
      class="tab-pane fade"
      id="emergency-tab-pane"
      role="tabpanel"
      aria-labelledby="emergency-tab"
      tabindex="0"
    >
      <app-emergency-details
        (nextTabEvent)="onNextTab()"
      ></app-emergency-details>
    </div>

    <div
      class="tab-pane fade"
      id="previous-application-tab-pane"
      role="tabpanel"
      aria-labelledby="previous-application-tab"
      tabindex="0"
    >
      <app-previous-application
        (nextTabEvent)="onNextTab()"
      ></app-previous-application>
    </div>

    <div
      class="tab-pane fade"
      id="other-details-tab-pane"
      role="tabpanel"
      aria-labelledby="other-details-tab"
      tabindex="0"
    >
      <app-other-details (nextTabEvent)="onNextTab()"></app-other-details>
    </div>

    <div
      class="tab-pane fade"
      id="upload-documents-tab-pane"
      role="tabpanel"
      aria-labelledby="upload-documents-tab"
      tabindex="0"
    >
      <app-upload-documents></app-upload-documents>
    </div>
  </div>
</div>

<app-footer></app-footer>
