.form-body {
  min-height: 100vh;
}
.form-group {
  margin: 10px;
}

input {
  margin: 10px;
}

.tab-content {
  background-color: white;
  min-height: 100vh;
}

.nav-link.active {
  background-color: lightblue;
  border-bottom: 0;
}
.btn-custom {
  margin-top: 20px;
}
